#userdata{
	padding: 5px;
	border-bottom: 1px solid gray;
}

#filterForm{
	padding: 5px;
	border-bottom: 1px solid gray;
}

#pageDirector{
	padding: 5px;
}

#tweets{
	padding: 5px;
	padding-top: 3px;
}

#tweets article{
	border: 1px solid blue;
	margin-top: 2px;
}

#tweets article h1{
	font-family: "Times New Roman", Times, serif;
}

#tweets article p{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#tweets details span{
	font-size: 12px;
	color: gray;
}